<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="udemy.test1" />
			<class name="udemy.test2" />
		</classes>
	</test> <!-- This test case is to execute all the methods in the test1 and test2 
		class -->


	<test name="Car Loan">
		<classes>
			<class name="udemy.Loans" />
			<class name="udemy.Loans1" />
		</classes>
	</test> <!-- This test case is to execute all the methods in the Loans and Loans1 
		class -->

	<!-- Next scenario - Excluding mobile method, all methods should run -->
	<!-- So now excluding mobile method -->

	<test name="Exclude Special Loan">
		<classes>
			<class name="udemy.Loans">
  
				<methods>
					<exclude name="MobileLogincarLoan" /> <!-- Here we are excluding the particular method and so the remaining methods of the class will run -->
				</methods>
				
				</class>

		</classes>
	</test>
	
	<test name="Include Special Loan">
		<classes>
			<class name="udemy.Loans">
  
				<methods>
					<include name="MobileLogincarLoan" /> <!-- Here we are including the particular method and so the remaining methods of the class wont
					 run -->
				</methods>
				
				</class>

		</classes>
	</test>
	
	<test name="Regrex Special Loan">
		<classes>
			<class name="udemy.Loans">
  
				<methods>
					<exclude name="Mobile.*" /> <!-- Here we are excluding the methods starting with the word Mobile
					 run -->
				</methods>
				
				</class>
				
				<class name="udemy.Loans1">
					<methods>
						<include name="API.*" /> <!-- Here we are inlcuding only the methods starting with the word API
						
					 run -->
					</methods>
				
				</class>

		</classes>
	</test>


</suite> <!-- Suite -->
